*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 960px;
    margin: auto;
    display: flex;
}

header{
    min-height: 5rem;
}

.head{
    background-color: #FF6900;
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 10;
}

.nav{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.nav-links a{
    padding: 0 0.3rem;
}

.bold{
    font-weight: bold;
}

.logo{
    max-height: 2rem;
}

.shop{
    flex-wrap: wrap;
    padding: 3rem 0;
}

.shop-product{
    max-width: calc(100% / 3);
    padding: 1rem;
    position: relative;
}

.shop-product img{
    width: 100%;
}

.hover-image{
    display: none;
}

.shop-product:hover .product-image{
    display: none;
}

.shop-product:hover .hover-image{
    display: inline;
}

.price{
    font-weight: bold;
    color: red;
}

.price span{
    font-weight: normal;
    color: black;
    text-decoration: line-through;
}

.favourite{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    background-color: white;
    padding: 0.3rem 0.7rem;
    font-size: 24px;
    cursor: pointer;
}

.product-banner{
    position: absolute;
    display: flex;
    bottom: 7rem;
    left: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    gap: 0.3rem;
}

.discount{
    background-color: red;
    padding: 0.3rem 0.8rem;
}

.sustainable{
    background-color: green;
    padding: 0.3rem 0.8rem;
}

footer{
    background-color: #1A1A1A;
    color: white;
    padding: 2rem;
}

.foot{
    justify-content: space-between;
    padding: 0 1rem;
}

.foot ul{
    display: flex;
    list-style: none;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.foot li{
    padding-right: 0.5rem;
}

.social a{
    padding-right: 0.2rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}